.navbar-lewagon {
  justify-content: flex-start;
  background: white;
  color: $green;
  a {
    color: $green;
    &:hover{
      color: $green;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
